#content {
    opacity: 0;
    @include transition(.5s);
}
.pmd-content {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    .row {
        .col {
            padding-right: 5px;
            padding-left: 5px;
            h2 {
                margin-top: 10px;
            }
        }
    }
    .pmd-card {
        margin-bottom: 10px;
        &.Successful {
            background-color: $successful-color;
            color: #fff;
        }
        &.Failed {
            background-color: $failed-color;
            color: #fff;
        }
        &.Error {
            background-color: $error-color;
            color: #fff;
        }
        .pmd-card-title {
            padding: 10px;
            margin-bottom: 0;
            h3 {
                margin-top: 0;
            }
            h4 {
                margin-bottom: 0;
                margin-top: 5px;
            }
        }
    }
}

