#content {
    opacity: 0;
    @include transition(.4s);
}
.pmd-content {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    .row {
        .col {
            padding-right: 5px;
            padding-left: 5px;
            h2 {
                margin-top: 10px;
            }
        }
    }
    .pmd-card {
        position: relative;
        margin-bottom: 10px;
        .pmd-card-icon {
            display: block;
            padding: 16px 0 4px;
            text-align: center;
            font-size: 60px;
            line-height: 1;
            & > i {
                font-size: 60px;
                line-height: 1;
            }
        }
        .pmd-card-title {
            padding: 10px;
            margin-bottom: 0;
            h3 {
                margin-top: 0;
            }
            h4 {
                margin-bottom: 0;
                margin-top: 5px;
            }
            .cta-actions {
                .btn-sm {
                    min-width: 80px;
                    padding: 2px 12px 4px 12px;
                    margin-top: -3px;
                }
            }
        }
        .pmd-card-footer {
            display: block;
            padding: 0;
            position: absolute;
            bottom: 10px;
            font-size: 16px;
            &.left {
                left: 10px;
            }
            &.right {
                text-align: right;
                right: 10px;
            }
        }
        &.successful {
            background-color: $successful-color;
            color: #fff;
            .pmd-card-footer {
                color: lighten($successful-color, 30%); //#6ecd79;
            }
        }
        &.failed {
            background-color: $failed-color;
            color: #fff;
            .pmd-card-footer {
                color: lighten($failed-color, 30%); //#ff9272;
            }
        }
        &.error {
            background-color: $error-color;
            color: #fff;
            .pmd-card-footer {
                color: lighten($error-color, 30%); //#ff9272;
            }
        }
        &.info {
            background-color: $info-color;
            color: #fff;
            .pmd-card-footer {
                color: lighten($info-color, 30%); // #ff9272;
            }
        }
    }
}
.material-icons.pmd-xxs {
    font-size: 11px;
}
.well {
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.alert {
    border-radius: 2px;
    &.alert-small {
        padding: 5px;
        margin-bottom: 10px;
    }
}
.select2-container--bootstrap {
    .select2-dropdown {
        border-top: 2px solid #4285f4;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        border-radius: 0 0 2px 2px;
    }
    .select2-selection__rendered {
        font-size: 16px;
    }
}
.modal-header {
    h2 {
        &.pmd-card-title-text {
            color: #333;
            font-weight: 400;
        }
    }
}
.pmd-tabs {
    .nav-tabs {
        a {
            cursor: pointer !important;
        }
    }
}
body {
    &.dashboard {
        background: #333;
        h2 {
            color: #fff;
        }
        .pmd-card {
            min-height: 220px;
            .pmd-card-title {
                h3 {
                    text-align: center;
                    font-size: 24px;
                    line-height: 1.2em;
                    font-weight: normal;
                }
            }
        }
    }
}
.category-container {
    position: relative;
    padding: 35px 20px 0 50px;
    margin-bottom: -30px;
    .category-label {
        position: absolute;
        left: -108px;
        top: 130px;
        transform: rotate(-90deg);
        width: 250px;
        & > div {
            text-align: right;
            h2 {
                font-size: 36px;
                color: #666;
            }
        }
    }
}

/*
 *  Create padding/margin classes
 */
$classMapping: (
    pb: padding-bottom,
    pt: padding-top,
    mb: margin-bottom,
    mt: margin-top
);
@for $i from 1 through 5 {
    @each $class, $attribute in $classMapping {
        .#{$class}-#{$i*10} {
            #{$attribute}: $i*10px;
        }
    }
}